<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!-- MyBatis的全局配置文件 -->
<configuration>

    <settings>
        <!--标准日志STDOUT_LOGGING-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- <setting name="logImpl" value="LOG4J"/>-->
    </settings>
    <!--取别名-->
    <typeAliases>
<!--        配置别名和类名一致-->
        <typeAlias type="com.cjf.model"></typeAlias>
    </typeAliases>

</configuration>
